
<div id="accordion">
  <h3>
    <% @schedules.each do |schedule| %>
      <strong><%= schedule.name %></strong>
  </h3>
  <h3>
    <% schedule.children.each do |child| %>
      <p><%= child_full_name(child) %></p>
    <% end %>
  </h3>
  <% end %>
</div>

