<h1>Listing parents</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="info">
        <th>First name</th>
        <th>Last name</th>
        <th>Address</th>
        <th>Phone</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @parents.each do |parent| %>
        <tr>
          <td ><%= parent.first_name %></td>
          <td><%= parent.last_name %></td>
          <td><%= parent.address %></td>
          <td><%= parent.phone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

