<div class="panel panel-primary">
   <div class="panel-heading">
      <h3 class="panel-title registrationtag">New Registration</h3>
  </div>
</div>

<h4>Fields marked with an * are required.</h4>
<%= render 'form' %>


