.center_div{
    margin-left: 220px;
    width:60%;
    border: 3px solid #15B8EC;
	border-radius: 5px;
	padding: 30px;
}

.field {
	border: 2px solid #16DB26;
	border-radius: 5px;
}

.registrationtag {
	margin-left:220px;
}

#error_explanation {
  color: #f00;
  margin-left: 220px;

}

.field_size {
	width: 500px;
	margin-left:220px;
}

.devise-errors {
	position: fixed;
	top: 30px;
	right: 100px;
	width: 250px;
	padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}